In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [ ]:
empresas_rfb = pd.read_csv('/content/drive/MyDrive/Data/empresa2009.csv')

ParserError: ignored

# Montando o dataset de trabalho:

## Importando os dados

A tabela empresas contém 7 colunas e 4.494.860 linhas, ocupando cerca de 240 mb na memória

In [ ]:
empresas_rfb = pd.read_csv('/content/drive/MyDrive/Data/empresa2009.csv', encoding='ISO-8859-1',decimal=',', sep=';' ,dtype=str, header=None, names=['cnpj_basico', 'razao_social', 'nat_jur', 'qual_resp', 'capital_social', 'porte_empresa', 'ente_resp']) #necessario colocaro ';'
print(empresas_rfb.shape)
empresas_rfb #relatar o erro de que o read_csv tenta usar o encoding utf8 e nao dá certo. decimal=',', #Latin 1 representa simbolos latinos

(4494860, 7)

        cnpj_basico  ... ente_resp
0          36627987  ...       NaN
1          36627988  ...       NaN
2          36627989  ...       NaN
3          36627991  ...       NaN
4          36627992  ...       NaN
...             ...  ...       ...
4494855    41938341  ...       NaN
4494856    41938358  ...       NaN
4494857    41938366  ...       NaN
4494858    41938374  ...       NaN
4494859    41938382  ...       NaN

[4494860 rows x 7 columns]

A tabela Estabelecimentos contém 30 colunas e 4.753.435 linhas, ocupando cerca de 1.1+ GB na memória

In [ ]:
estabelecimentos = pd.read_csv('/content/drive/MyDrive/Data/estabelecimentos.csv', encoding='ISO-8859-1', dtype=str, sep=';', decimal=',', header=None, names=['cnpj_basico', 'ordem', 'dv', 'matriz_filial', 'nome', 'situacao_cadastral', 'data_sit_cad',
'motivo_sit_cad', 'cidade_exterior', 'cod_pais', 'inicio_atividade', 'cnae_principal', 'cnae_secund',
'tipo','logradouro','numero','complemento','bairro','cep','uf','municipio_rfb','ddd',
'tel','ddd2','tel2','dddfax','fax','email', 'sit_especial', 'data_sit_especial'])
print(estabelecimentos.shape)
estabelecimentos.head()

(4753435, 30)

  cnpj_basico ordem  ... sit_especial data_sit_especial
0    39304501  0001  ...          NaN               NaN
1    39304513  0001  ...          NaN               NaN
2    39304523  0001  ...          NaN               NaN
3    39304534  0001  ...          NaN               NaN
4    39304544  0001  ...          NaN               NaN

[5 rows x 30 columns]

In [ ]:
estabelecimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4753435 entries, 0 to 4753434
Data columns (total 30 columns):
 #   Column              Dtype
---  ------              -----
 0   cnpj_basico         object
 1   ordem               object
 2   dv                  object
 3   matriz_filial       object
 4   nome                object
 5   situacao_cadastral  object
 6   data_sit_cad        object
 7   motivo_sit_cad      object
 8   cidade_exterior     object
 9   cod_pais            object
 10  inicio_atividade    object
 11  cnae_principal      object
 12  cnae_secund         object
 13  tipo                object
 14  logradouro          object
 15  numero              object
 16  complemento         object
 17  bairro              object
 18  cep                 object
 19  uf                  object
 20  municipio_rfb       object
 21  ddd                 object
 22  tel                 object
 23  ddd2                object
 24  tel2                object
 25  dddfax              object
 26  fax                 object
 27  email               object
 28  sit_especial        object
 29  data_sit_especial   object
dtypes: object(30)
memory usage: 1.1+ GB

### Convertendo os dados para string para que o pandas faça o merge corretamente :

In [ ]:
# estabelecimentos['cnpj_basico'] = estabelecimentos['cnpj_basico'].astype(str)

# empresas_rfb['cnpj_basico'] = empresas_rfb['cnpj_basico'].astype(str)

### Fazendo o merge

# Farei agora o merge ao dataset empresas, que contém informações como o Capital Social das empresas, o porte (se é micro empresa, por exemplo), a natureza jurídica (ex. S.A, limitada, etc). No entanto, como os dados disponíveis publicamente no site da RFB estão fragmentados, ou seja, não há correspondência do arquivo nomeado por exemplo 'empresa1' com o arquivo 'estabelecimento1', quando eu fiz o inner join, a intersecção resultante foi de +- 100.000 linhas entre as duas tabelas, diminuindo muito o tamanho do dataset. Decidi pelo left JOIN pois informação bem interessante seria reduzida sobre a tabela estabelecimentos. Dei a preferência por deixar à esquerda a tabela Estabelecimentos porque ela que contém o target do dataset e suas variáveis independentes.

![image.png]()

In [ ]:
data = pd.merge(estabelecimentos, empresas_rfb, how='left', on='cnpj_basico') #inner merge, só o que achar

#estabelecimentos['cnpj_basico'] = estabelecimentos.merge(empresas_rfb, on='cnpj_basico', how='inner')['cnpj_basico'].values
data

        cnpj_basico ordem  dv  ...   capital_social porte_empresa ente_resp
0          39304501  0001  05  ...  000000001000,00            01       NaN
1          39304513  0001  21  ...  000000010000,00            01       NaN
2          39304523  0001  67  ...  000000001000,00            01       NaN
3          39304534  0001  47  ...  000000300000,00            05       NaN
4          39304544  0001  82  ...  000000003000,00            01       NaN
...             ...   ...  ..  ...              ...           ...       ...
4753430    39039725  0001  29  ...             0,00            05       NaN
4753431    39039737  0001  53  ...             0,00            05       NaN
4753432    39039749  0001  88  ...             0,00            05       NaN
4753433    39039760  0001  48  ...             0,00            05       NaN
4753434    39039772  0001  72  ...             0,00            05       NaN

[4753435 rows x 36 columns]

A tabela resultante do merge por LEFT JOIN das tabelas estabelecimentos e empresas naturalmente tem o mesmo número de linhas da tabela estabelecimento, mas possui 36 colunas. Não há 37 colunas, pois o merge foi feito por meio da variável 'cnpj_basico' que é comum nas duas tabelas.

In [ ]:
estabelecimentos.shape #igual ao tamanho do merge, portanto left join

(4753435, 30)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4753435 entries, 0 to 4753434
Data columns (total 36 columns):
 #   Column              Dtype
---  ------              -----
 0   cnpj_basico         object
 1   ordem               object
 2   dv                  object
 3   matriz_filial       object
 4   nome                object
 5   situacao_cadastral  object
 6   data_sit_cad        object
 7   motivo_sit_cad      object
 8   cidade_exterior     object
 9   cod_pais            object
 10  inicio_atividade    object
 11  cnae_principal      object
 12  cnae_secund         object
 13  tipo                object
 14  logradouro          object
 15  numero              object
 16  complemento         object
 17  bairro              object
 18  cep                 object
 19  uf                  object
 20  municipio_rfb       object
 21  ddd                 object
 22  tel                 object
 23  ddd2                object
 24  tel2                object
 25  dddfax              object
 26  fax                 object
 27  email               object
 28  sit_especial        object
 29  data_sit_especial   object
 30  razao_social        object
 31  nat_jur             object
 32  qual_resp           object
 33  capital_social      object
 34  porte_empresa       object
 35  ente_resp           object
dtypes: object(36)
memory usage: 1.3+ GB

Para o projeto, decidi reduzir o tamanho do dataset que possui mais de 1.3 GB, selecionando o Estado de maior atividade econômica, que é São Paulo. Essa seleção terá 1.361.981 registros (cerca de 3 milhões de registros a menos) e 36 colunas

In [ ]:
sp = data[data['uf'] == 'SP'] #Selecionarei apenas dados de Sampa para a análise
sp

        cnpj_basico ordem  dv  ...   capital_social porte_empresa ente_resp
3          39304534  0001  47  ...  000000300000,00            05       NaN
4          39304544  0001  82  ...  000000003000,00            01       NaN
6          39304564  0001  53  ...  000000001000,00            01       NaN
11         39304616  0001  91  ...  000000050000,00            03       NaN
14         39304644  0001  09  ...  000000020000,00            01       NaN
...             ...   ...  ..  ...              ...           ...       ...
4753420    39039609  0001  00  ...             0,00            05       NaN
4753423    39039643  0001  84  ...             0,00            05       NaN
4753426    39039679  0001  68  ...             0,00            05       NaN
4753427    39039690  0001  28  ...             0,00            05       NaN
4753428    39039701  0001  70  ...             0,00            05       NaN

[1361981 rows x 36 columns]

Como a pergunta do projeto é se conseguimos prever se uma empresa está ativa ou fechada, estimando uma probabilidade (risco), selecionarei apenas as empresas que estão ativas (0) ou que fecharam por liquidação voluntária (1). O dataset obtido é de 1.009.714 de linhas

In [ ]:
#### QUERO SABER APENAS DAS EMPRESAS NA ATIVA E AQUELAS QUE FORAM FECHADAS POR LIQUIDAÇÃO 
#### VOLUNTÁRIA, MOTIVO_SIT_CAD = 1

um = sp['motivo_sit_cad'] == '1'
dois = sp['motivo_sit_cad'] == '0'
sp_binario = sp[um|dois].copy()
sp_binario.shape

(1009714, 36)

In [ ]:
sp_binario.columns, sp_binario.shape

(Index(['cnpj_basico', 'ordem', 'dv', 'matriz_filial', 'nome',
        'situacao_cadastral', 'data_sit_cad', 'motivo_sit_cad',
        'cidade_exterior', 'cod_pais', 'inicio_atividade', 'cnae_principal',
        'cnae_secund', 'tipo', 'logradouro', 'numero', 'complemento', 'bairro',
        'cep', 'uf', 'municipio_rfb', 'ddd', 'tel', 'ddd2', 'tel2', 'dddfax',
        'fax', 'email', 'sit_especial', 'data_sit_especial', 'razao_social',
        'nat_jur', 'qual_resp', 'capital_social', 'porte_empresa', 'ente_resp'],
       dtype='object'), (1009714, 36))

### Acredito que há informações importantes para calcular o risco de uma empresa fechar ou continuar funcionando em dados econômicos do IBGE. Vamos juntar agora com a tabela do Tesouro Nacional (há a correspondência entre o código do municipio da RFB com o código do IBGE) que será o link entre as demais tabelas que serão adicionadas:

![image.png]()

In [ ]:
tabmuni = pd.read_csv('/content/drive/MyDrive/Data/Tesouro/tabmuni2.csv', sep=';',header=None, dtype=str,
                      encoding='ISO-8859-1',
                      names=['municipio_rfb', 'cnpj_m', 'descricao', 'UF', 'CodigoIbge'])
del tabmuni['cnpj_m']
tabmuni

         municipio_rfb  ...  CodigoIbge
0     ï»¿municipio_rfb  ...  CodigoIbge
1                    1  ...     1100106
2                    2  ...     1100379
3                    3  ...     1100205
4                    8  ...     1100940
...                ...  ...         ...
5585              1190  ...     1504752
5586              1192  ...     4220000
5587              1194  ...     4212650
5588              1196  ...     5006275
5589              3001  ...     2605459

[5590 rows x 4 columns]

In [ ]:
# tabmuni['municipio_rfb'] = tabmuni['municipio_rfb'].astype(str) #Melhor string na hora do merge que object, dá menos erro.
# sp_binario['municipio_rfb'] = sp_binario['municipio_rfb'].astype(str)

In [ ]:
sp_binario_municipio = pd.merge(sp_binario, tabmuni, on='municipio_rfb') #1009714 rows × 39 columns
sp_binario_municipio['CodigoIbge']= sp_binario_municipio['CodigoIbge'].astype(str)

sp_binario_municipio #Há a intersecção dos elementos

        cnpj_basico ordem  dv  ...     descricao  UF CodigoIbge
0          39304534  0001  47  ...     SAO PAULO  SP    3550308
1          39304564  0001  53  ...     SAO PAULO  SP    3550308
2          39304616  0001  91  ...     SAO PAULO  SP    3550308
3          39304717  0001  62  ...     SAO PAULO  SP    3550308
4          37419658  0003  04  ...     SAO PAULO  SP    3550308
...             ...   ...  ..  ...           ...  ..        ...
1009709    35607687  0001  02  ...  LUCIANOPOLIS  SP    3527504
1009710    36984322  0001  60  ...  LUCIANOPOLIS  SP    3527504
1009711    37588106  0001  68  ...  LUCIANOPOLIS  SP    3527504
1009712    37917664  0001  20  ...  LUCIANOPOLIS  SP    3527504
1009713    38137283  0001  90  ...  LUCIANOPOLIS  SP    3527504

[1009714 rows x 39 columns]

In [ ]:
sp_binario_municipio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1009714 entries, 0 to 1009713
Data columns (total 39 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   cnpj_basico         1009714 non-null  object
 1   ordem               1009714 non-null  object
 2   dv                  1009714 non-null  object
 3   matriz_filial       1009714 non-null  object
 4   nome                524911 non-null   object
 5   situacao_cadastral  1009714 non-null  object
 6   data_sit_cad        1009714 non-null  object
 7   motivo_sit_cad      1009714 non-null  object
 8   cidade_exterior     0 non-null        object
 9   cod_pais            203 non-null      object
 10  inicio_atividade    1009714 non-null  object
 11  cnae_principal      1009714 non-null  object
 12  cnae_secund         444930 non-null   object
 13  tipo                1005620 non-null  object
 14  logradouro          1009709 non-null  object
 15  numero              1009708 non-null  object
 16  complemento         359229 non-null   object
 17  bairro              1007199 non-null  object
 18  cep                 1009713 non-null  object
 19  uf                  1009714 non-null  object
 20  municipio_rfb       1009714 non-null  object
 21  ddd                 841574 non-null   object
 22  tel                 841579 non-null   object
 23  ddd2                116187 non-null   object
 24  tel2                115997 non-null   object
 25  dddfax              179152 non-null   object
 26  fax                 179178 non-null   object
 27  email               695441 non-null   object
 28  sit_especial        1 non-null        object
 29  data_sit_especial   1 non-null        object
 30  razao_social        107965 non-null   object
 31  nat_jur             107965 non-null   object
 32  qual_resp           107965 non-null   object
 33  capital_social      107965 non-null   object
 34  porte_empresa       107965 non-null   object
 35  ente_resp           13 non-null       object
 36  descricao           1009714 non-null  object
 37  UF                  1009714 non-null  object
 38  CodigoIbge          1009714 non-null  object
dtypes: object(39)
memory usage: 308.1+ MB

In [ ]:
#testa se o merge deu certo, se não deu certo mostra linhas que ficaram de fora, se deu certo o output é vazio

df_merged = pd.merge(sp_binario, 
                     tabmuni,
                     how = 'outer',
                     left_on = ['municipio_rfb'],
                     right_on = ['municipio_rfb'], 
                     indicator = True)

deleted_rows = df_merged.loc[df_merged._merge == "left_only",]
deleted_rows #se retornasse alguma coisa era porque o merge nao deu certo, iria mostrar o que ficou de fora

Empty DataFrame
Columns: [cnpj_basico, ordem, dv, matriz_filial, nome, situacao_cadastral, data_sit_cad, motivo_sit_cad, cidade_exterior, cod_pais, inicio_atividade, cnae_principal, cnae_secund, tipo, logradouro, numero, complemento, bairro, cep, uf, municipio_rfb, ddd, tel, ddd2, tel2, dddfax, fax, email, sit_especial, data_sit_especial, razao_social, nat_jur, qual_resp, capital_social, porte_empresa, ente_resp, descricao, UF, CodigoIbge, _merge]
Index: []

In [ ]:
deleted_rows.shape, deleted_rows['municipio_rfb'].value_counts()

((0, 40), Series([], Name: municipio_rfb, dtype: int64))

## Importando tabela de Renda Média do IBGE

![image.png]()

In [ ]:
tabela3527 = pd.read_csv('/content/drive/MyDrive/Data/IBGE/tabela3527.csv' , sep=',', dtype=str, header=None, names=['CodigoIbge', 'Cidade', 'Renda_Media_Mensal'])
tabela3527['CodigoIbge'] = tabela3527['CodigoIbge'].astype(str)
tabela3527.shape

(5578, 3)

Provavelmente a renda média mensal dos habitantes do municipio devem ter alguma relação com o sucesso ou fracasso de um negócio aberto no local.

### Adicionar tabela de Renda Media do IBGE

In [ ]:
sp_ibge = pd.merge(sp_binario_municipio,tabela3527, on='CodigoIbge')

## Adicionar Tabela de PIB dos Municipios

![image.png]()

In [ ]:
pib = pd.read_csv('/content/drive/MyDrive/Data/IBGE/tabela5938.csv', sep=',', dtype=str, header=None, names=['CodigoIbge', 'Cidade_PIB', 'PIB'])

In [ ]:
#Fazendo o merge:

sp_ibge_PIB = pd.merge(sp_ibge, pib, on='CodigoIbge')
sp_ibge

        cnpj_basico ordem  dv  ... CodigoIbge             Cidade Renda_Media_Mensal
0          39304534  0001  47  ...    3550308     São Paulo (SP)            4427.54
1          39304564  0001  53  ...    3550308     São Paulo (SP)            4427.54
2          39304616  0001  91  ...    3550308     São Paulo (SP)            4427.54
3          39304717  0001  62  ...    3550308     São Paulo (SP)            4427.54
4          37419658  0003  04  ...    3550308     São Paulo (SP)            4427.54
...             ...   ...  ..  ...        ...                ...                ...
1009709    35607687  0001  02  ...    3527504  Lucianópolis (SP)            2458.57
1009710    36984322  0001  60  ...    3527504  Lucianópolis (SP)            2458.57
1009711    37588106  0001  68  ...    3527504  Lucianópolis (SP)            2458.57
1009712    37917664  0001  20  ...    3527504  Lucianópolis (SP)            2458.57
1009713    38137283  0001  90  ...    3527504  Lucianópolis (SP)            2458.57

[1009714 rows x 41 columns]

### Operação de merge com a tabela Populacao  do IBGE:

In [ ]:
populacao = pd.read_csv('/content/drive/MyDrive/Data/IBGE/tabela6579.csv', sep=',', dtype=str, header=None, names=['CodigoIbge', 'Cidade_POP', 'populacao'])
del populacao['Cidade_POP']

In [ ]:
sp_ibge_PIB = pd.merge(sp_ibge_PIB, populacao, on='CodigoIbge')

In [ ]:
sp_ibge_PIB.shape

(1009714, 44)

Após todos esses merges com tabelas do IBGE aumentamos apenas o número de colunas, mostrando que os merges foram bem suscedidos.

## Os tipos de dados (dtypes) do dataset:

In [ ]:
sp_ibge_PIB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1009714 entries, 0 to 1009713
Data columns (total 44 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   cnpj_basico         1009714 non-null  object
 1   ordem               1009714 non-null  object
 2   dv                  1009714 non-null  object
 3   matriz_filial       1009714 non-null  object
 4   nome                524911 non-null   object
 5   situacao_cadastral  1009714 non-null  object
 6   data_sit_cad        1009714 non-null  object
 7   motivo_sit_cad      1009714 non-null  object
 8   cidade_exterior     0 non-null        object
 9   cod_pais            203 non-null      object
 10  inicio_atividade    1009714 non-null  object
 11  cnae_principal      1009714 non-null  object
 12  cnae_secund         444930 non-null   object
 13  tipo                1005620 non-null  object
 14  logradouro          1009709 non-null  object
 15  numero              1009708 non-null  object
 16  complemento         359229 non-null   object
 17  bairro              1007199 non-null  object
 18  cep                 1009713 non-null  object
 19  uf                  1009714 non-null  object
 20  municipio_rfb       1009714 non-null  object
 21  ddd                 841574 non-null   object
 22  tel                 841579 non-null   object
 23  ddd2                116187 non-null   object
 24  tel2                115997 non-null   object
 25  dddfax              179152 non-null   object
 26  fax                 179178 non-null   object
 27  email               695441 non-null   object
 28  sit_especial        1 non-null        object
 29  data_sit_especial   1 non-null        object
 30  razao_social        107965 non-null   object
 31  nat_jur             107965 non-null   object
 32  qual_resp           107965 non-null   object
 33  capital_social      107965 non-null   object
 34  porte_empresa       107965 non-null   object
 35  ente_resp           13 non-null       object
 36  descricao           1009714 non-null  object
 37  UF                  1009714 non-null  object
 38  CodigoIbge          1009714 non-null  object
 39  Cidade              1009714 non-null  object
 40  Renda_Media_Mensal  1009714 non-null  object
 41  Cidade_PIB          1009714 non-null  object
 42  PIB                 1009714 non-null  object
 43  populacao           1009714 non-null  object
dtypes: object(44)
memory usage: 346.7+ MB

Deletar colunas repetidas:

In [ ]:
del sp_ibge_PIB['Cidade_PIB']
del sp_ibge_PIB['Cidade']
#Deletar também as colunas que são tudo NULL:

In [ ]:
# del sp_ibge_PIB['CNPJ'] #DELETAR O CNPJ DOS MUNICIPIOS

In [ ]:
sp_ibge_PIB.head(2)

  cnpj_basico ordem  dv  ... Renda_Media_Mensal        PIB populacao
0    39304534  0001  47  ...            4427.54  714683362  12325232
1    39304564  0001  53  ...            4427.54  714683362  12325232

[2 rows x 42 columns]

Renomear colunas com nomes nebulosos:

In [ ]:
sp_ibge_PIB.rename(columns = {'descricao': 'municipio'}, inplace=True)

In [ ]:
#colocar tudo em lowercase:
sp_ibge_PIB.columns = map(str.lower, sp_ibge_PIB.columns)
sp_ibge_PIB.head(2)

  cnpj_basico ordem  dv  ... renda_media_mensal        pib populacao
0    39304534  0001  47  ...            4427.54  714683362  12325232
1    39304564  0001  53  ...            4427.54  714683362  12325232

[2 rows x 42 columns]

In [ ]:
data_final = sp_ibge_PIB.copy()
data_final.head(2)

  cnpj_basico ordem  dv  ... renda_media_mensal        pib populacao
0    39304534  0001  47  ...            4427.54  714683362  12325232
1    39304564  0001  53  ...            4427.54  714683362  12325232

[2 rows x 42 columns]

In [ ]:
data_final.shape

(1009714, 42)

In [ ]:
data_final.to_csv('/content/drive/MyDrive/Data/dataset_final_merge.csv', index=False) #para nao gerar uma coluna unnamed0
#https://pandas.pydata.org/pandas-docs/version/0.18.0/generated/pandas.DataFrame.to_csv.html

In [ ]:
data_final.shape

(1009714, 42)

In [ ]:
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1009714 entries, 0 to 1009713
Data columns (total 42 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   cnpj_basico         1009714 non-null  object
 1   ordem               1009714 non-null  object
 2   dv                  1009714 non-null  object
 3   matriz_filial       1009714 non-null  object
 4   nome                524911 non-null   object
 5   situacao_cadastral  1009714 non-null  object
 6   data_sit_cad        1004463 non-null  datetime64[ns]
 7   motivo_sit_cad      1009714 non-null  object
 8   cidade_exterior     0 non-null        object
 9   cod_pais            203 non-null      object
 10  inicio_atividade    1009714 non-null  datetime64[ns]
 11  cnae_principal      1009714 non-null  object
 12  cnae_secund         444930 non-null   object
 13  tipo                1005620 non-null  object
 14  logradouro          1009709 non-null  object
 15  numero              1009708 non-null  object
 16  complemento         359229 non-null   object
 17  bairro              1007199 non-null  object
 18  cep                 1009713 non-null  object
 19  uf                  1009714 non-null  object
 20  municipio_rfb       1009714 non-null  object
 21  ddd                 841574 non-null   object
 22  tel                 841579 non-null   object
 23  ddd2                116187 non-null   object
 24  tel2                115997 non-null   object
 25  dddfax              179152 non-null   object
 26  fax                 179178 non-null   object
 27  email               695441 non-null   object
 28  sit_especial        1 non-null        object
 29  data_sit_especial   1 non-null        object
 30  razao_social        107965 non-null   object
 31  nat_jur             107965 non-null   object
 32  qual_resp           107965 non-null   object
 33  capital_social      107965 non-null   float64
 34  porte_empresa       107965 non-null   object
 35  ente_resp           13 non-null       object
 36  municipio           1009714 non-null  object
 37  uf                  1009714 non-null  object
 38  codigoibge          1009714 non-null  object
 39  renda_media_mensal  1009714 non-null  float64
 40  pib                 1009714 non-null  float64
 41  populacao           1009714 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(36)
memory usage: 331.3+ MB